[submodule "deployment/mllm/android"]
	path = deployment/mllm/android
	url = https://github.com/lx200916/ChatBotApp
[submodule "deployment/mllm/third_party/pybind11"]
	path = deployment/mllm/third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "deployment/mllm/src/backends/xnnpack/third_party/XNNPACK"]
	path = deployment/mllm/src/backends/xnnpack/third_party/XNNPACK
	url = https://github.com/google/XNNPACK.git
[submodule "deployment/mllm/third_party/googletest"]
	path = deployment/mllm/third_party/googletest
	url = https://github.com/google/googletest.git
